body{
    background-color: rgb(255, 166, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 360px;
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    font-family: Arial, Helvetica, sans-serif;
}
.above {
    text-align: center;
    margin-top: -50px;
} 
.head {
    width: 26em;
    margin: auto;
    width: 100%;
    padding: 1em;
    width: 65%;
}  
.form{
    left: 2cm;
    right: 2cm;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
}
.aboutbook{
    text-align: left;
}
.book{
    text-align: right;
}
@media screen and (max-width: 600px) {
    .header {
         margin-right: 0px;
         margin-left: 0px;
         margin-bottom: 50px;
         margin-top: 50px;
    }
    .form{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.hidden {
    display: none !important;
  }
  
  #installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
  }